<!-- recipes-app/recipesapp-frontend/src/app/recipes/recipes.component.html -->

<!-- Form for adding a new recipe -->
<form (submit)="onSubmit()">
  <!-- Input field for recipe name -->
  <input type="text" name="recipeName" placeholder="Name" [(ngModel)]="recipeName" required><br>
  <!-- Input field for recipe image URL -->
  <input type="text" name="recipeImgUrl" placeholder="Image URL" [(ngModel)]="recipeImgUrl" required><br>
  <!-- Input field for recipe description -->
  <input type="text" name="recipeDesc" placeholder="Desc" [(ngModel)]="recipeDesc" required><br>
  <!-- Button to submit the form -->
  <button type="submit" class="btn btn-primary">Add Recipe</button>
</form>

<!-- Error message display area -->
<div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

<!-- Container for displaying recipes -->
<div class="row">
    <!-- Loop through recipes and display each recipe -->
    <div class="recipes" *ngFor="let recipe of recipes">
      <!-- Display recipe image -->
      <img [src]="recipe.imgUrl" class="card-img-top" alt="...">
      <!-- Display recipe details -->
      <div class="card-body">
        <!-- Recipe name -->
        <h3 class="card-title">{{ recipe.name }}</h3>
        <!-- Recipe description -->
        <p class="card-text">{{ recipe.desc }} </p>
        <!-- Button to delete the recipe -->
        <button (click)="deleteRecipe(recipe.id)" class="btn btn-danger">Delete</button>
      </div>
    </div>
</div>
